{% extends 'mobile/base.html' %}

{% block header %}<h1>{% block title %}{{ session['site_name'] }}{% endblock %}</h1>{% endblock %}

{% block content %}
{% if post_success %}
<div style="margin:10px 0 10px 0"><span class="label label-success">Great job, keep it up!</span></div>{% endif %}
<div class="divider"></div>
{% if tags %}
<strong style="text-transform:capitalize">{{ tags }} Posts</strong>
{% else %}
<strong>New Posts</strong>
{% endif %}
<table class="table table-hover">
    <tbody>{% for p in posts %}
    <tr style="font-size:0.85em;">
        <td style="width:30px;text-align:center">
            {% if p[10] > 86400 %}
            <span class="text-gray">
                <span class="text-gray" style="cursor:pointer"><i class="bi-caret-up-fill" style="font-size: 1.75em"></i></span>
            </span><br/>
            <span class="text-dark">{{ p[8] }}</span>
            {% else %}
            <span class="text-dark">
                <a class="text-dark" href="/up/{{ p[0] }}"><i class="bi-caret-up-fill" style="font-size: 1.75em"></i></a>
            </span><br/>
            <span class="text-dark">{{ p[8] }}</span>
            {% endif %}
        </td>
        <td>
            <a class="text-dark" href="/g/{{ p[7] }}" style="text-decoration:none">
                <span class="label">{{ p[7] }}</span>
            </a><a class="text-primary" href="{{ p[2] }}" style="text-decoration:none">
                <strong style="word-wrap: break-word;">{{ p[1] }}</strong>
            </a>
            <br>
            <span>by
                    <a class="text-dark" href="/u/{{ p[4] }}" style="text-decoration:none">{{ p[4] }}</a>
                    <span>{{ p[6] }}</span><br>
                    <a class="text-dark" href="https://archive.md/{{ p[2] }}" style="text-decoration:none"><i class="bi-archive" style="font-size: 1.5em"></i></a>&nbsp;&nbsp;
                    {% if p[4] == session['username'] %}<a class="text-dark" href="/m/edit/{{ p[0] }}"
                                                                style="text-decoration:none"><i class="bi-pencil-square" style="font-size: 1.5em"></i></a>&nbsp;&nbsp;
                    <a class="text-dark" href="/rm/{{ p[0] }}" style="text-decoration:none"><i class="bi-x-square" style="font-size: 1.5em"></i></a>&nbsp;&nbsp;{% endif %}
                    <a href="/rp/{{ p[0] }}"><i class="bi-exclamation-square" style="float:right;color:red;font-size: 1.5em"></i></a>
                </span>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block pagenav %}
<div class="text-right">
    <a class="btn btn-link
       {% if page.page == 1 %}disabled{% endif %}"
       href="{{ url_for('route.index', p=page.prev_num) }}" style="margin-top:-10px">
        <i class="bi-chevron-double-left" style="font-size: 1.5em"></i>
    </a>
    <span class="text-gray" style="font-size:1.25em">{{ page.page }} / {{ page.pages }}</span>
    <a class="btn btn-link
       {% if page.page == page.pages %}disabled{% endif %}"
       href="{{ url_for('route.index', p=page.next_num) }}" style="margin-top:-10px">
        <i class="bi-chevron-double-right" style="font-size: 1.5em"></i>
    </a>
</div>
{% endblock %}