{% extends 'mobile/base.html' %}

{% block header %}<h1>{% block title %}{{ session['site_name'] }} - Submit{% endblock %}</h1>{% endblock %}

{% block content %}
<div class="divider"></div>
<strong>Link Submission</strong>
{% if error == 'title' %}<div style="margin:10px 0 10px 0"><span class="label label-error">Title too short (>16) or invalid characters used.</span></div>{% endif %}
{% if error == 'url' %}<div style="margin:10px 0 10px 0"><span class="label label-error">That doesn't look like a valid URL.</span></div>{% endif %}
{% if error == 'tags' %}<div style="margin:10px 0 10px 0"><span class="label label-error">Come on, use a tag from the list provided.</span></div>{% endif %}
{% if session['logged_in'] %}
<div style="margin:10px 0 10px 0"><span>Try to post something good...</span></div>
<div class="columns">
    <div class="column col-9 col-sm-12">
        <form action="/m/" class="form-horizontal" method="post">
            <div class="form-group">
                <div class="col-2 col-sm-12">
                    <label class="form-label" for="link-title">Creative Title</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" id="link-title" name="link-title" required type="text" maxlength="120" value="{{ title }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-2 col-sm-12">
                    <label class="form-label" for="link-url">Link to Page</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" id="link-url" name="link-url" required type="url" value="{{ url }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-2 col-sm-12">
                    <label class="form-label" for="link-tags">Post Tag</label>
                </div>
                <div class="col-3 col-sm-12">
                    <select class="form-select" id="link-tags" name="link-tags" required>
                        <option hidden></option>
                        {% for o in options %}
                        {% if o == tags %}
                            <option selected>{{ o }}</option>
                        {% else %}
                            <option>{{ o }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-10 col-sm-12 col-ml-auto">
                    <input class="btn" type="submit" value="Submit Link"/>
                </div>
            </div>
        </form>
    </div>
</div>
{% else %}
<div style="margin:10px 0 194px 0"><span>You need to be logged in to post a link!</span></div>
{% endif %}
{% endblock %}