{% extends 'desktop/base.html' %}

{% block header %}<h1>{% block title %}{{ session['site_name'] }} - About{% endblock %}</h1>{% endblock %}

{% block content %}
<div class="divider"></div>
<strong>About {{ session['site_name'] }}</strong>
<p></p>
<p>This is a hobby project made by a hobby programmer. It came about after a brief discussion about how nice it
    would be if there was a personal link aggregator like Reddit.<br><br>After looking around at several solutions
    already
    created (and one stupid email) I decided to create a simple (and badly coded) page for users to post their internet
    finds.<br><br>It doesn't have many features, but it has enough for what I need. This was inspired by not only
    <a href="https://old.reddit.com/">Reddit</a> but sites like <a href="https://news.ycombinator.com/">Hacker News</a>
    and <a href="https://lobste.rs/">Lobsters</a>.
    <br><br><a href="https://github.com/Ullarah/TrashLinks">Link to the original project.</a></p>
{% endblock %}