{% extends 'desktop/base.html' %}

{% block header %}<h1>{% block title %}{{ session['site_name'] }} - Edit{% endblock %}</h1>{% endblock %}

{% block content %}
<div class="divider"></div>
<strong>Edit Submission</strong>
{% if session['logged_in'] %}
{% if no_ownership %}
<div style="margin:10px 0 10px 0"><span class="label label-error">This post is not yours to edit!</span></div>{% else %}
{% if restricted_edit %}
<div style="margin:10px 0 10px 0"><span class="label label-error">This post is too old to edit!</span></div>{% else %}
<div style="margin:10px 0 10px 0"><span>Look everyone makes mistakes...</span></div>
<div class="columns">
    <div class="column col-9 col-sm-12">
        <form action="/m/edit/{{ id }}" class="form-horizontal" method="post">
            <div class="form-group">
                <div class="col-2 col-sm-12">
                    <label class="form-label" for="link-title">Creative Title</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" id="link-title" name="link-title" required type="text"
                           value="{{ title }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-2 col-sm-12">
                    <label class="form-label" for="link-url">Link to Page</label>
                </div>
                <div class="col-9 col-sm-12">
                    <input class="form-input" id="link-url" name="link-url" required type="url" value="{{ url }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-2 col-sm-12">
                    <label class="form-label" for="link-tags">Post Tag</label>
                </div>
                <div class="col-3 col-sm-12">
                    <select class="form-select" id="link-tags" name="link-tags" required>
                        <option hidden></option>
                        {% for o in options %}{% if o == tag %}
                        <option selected>{% else %}
                        <option>{% endif %}{{ o }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-10 col-sm-12 col-ml-auto">
                    <input class="btn" type="submit" value="Save Changes"/>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endif %}
{% else %}
<div style="margin:10px 0 10px 0"><span class="label label-warning">You need to be logged in to edit a link!</span>
</div>
{% endif %}
{% endblock %}